[management-server]
{{ swift_management_server.instances[0].accessIPv4 }}

[storage-servers]
{% for storage_server in swift_storage_servers.results %}
{{ storage_server.instances[0].accessIPv4 }}
{% endfor %}

[proxy-servers]
{% for proxy_server in swift_proxy_servers.results %}
{{ proxy_server.instances[0].accessIPv4 }}
{% endfor %}

[chef-server]
{{ swift_chef_server.instances[0].accessIPv4 }}

[chef-clients:children]
management-server
proxy-servers
storage-servers
