{
  "swift-private-cloud": {
    "dispersion": {
      "dis_key": "secrete"
    },
    "keystone": {
        "auth_password": "secrete",
        "admin_password": "secrete",
        "swift_admin_url": "",
        "swift_public_url": "",
        "swift_internal_url": ""
    }
}
