[management-server]
{{ management_server.private_networks[0] }}

[storage-servers]
{% for i in range(1, storage_server.count+1) %}
{{ storage_server.private_networks[0] }}{{ i }}
{% endfor %}

[proxy-servers]
{% for i in range(1, proxy_server.count+1) %}
{{ proxy_server.private_networks[0] }}{{ i }}
{% endfor %}

[chef-server]
{{ chef_server.private_networks[0] }}

[chef-clients:children]
management-server
proxy-servers
storage-servers
